/* font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Playfair Display', serif; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    
}
.header{
    width: 1415px;
    height: 786px;
}
ol,ul,li{
    list-style-type: none;
}
.header__top{
    width: 100%;
    height: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__nav_menu{
    width: 1033px;
    height: 41px;
    display: flex;
    justify-content: space-between;
}
.nav_menu{
    display: flex;
    width: 50%;
    align-items: center;justify-content: space-between;

}
#navl_`{
    width: 132px;
    height: 44px;
    
}
a{
    text-decoration: none;
}
